body{
    font-family:'roboto',sans-serif;
    background:black;
    color: #fff;
    line-height: 1.6;
    overflow: hidden;
}

*{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration: none;
}

.container
{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    
 
}
.sidebar
{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 150%;
    background: #5e6f64 ;
    transition: all .5s ease;
    
    scroll-behavior: smooth;
 
}
.sidebar header
{
    font-size: 25px;
    color: aliceblue;
    text-align: center;
    line-height: 70px;
    background: #204051;
}

.sidebar ul a{
    
    
    width:100%;
    line-height: 50px;
    font-size: 20px;
    color:white; 
    padding-left: 40px;
    box-sizing: border-box;
    transition: .4s;
   
}
ul li:hover a{
    padding-left: 50px;

}
#check
{
    display: none;
    width: 20px;
    height: 25px;
}
label #btn,label #cancel{
    position: absolute;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
}
label #btn{
    left:40px;
    top:25px;
    font-size: 35px;
    color:white;
    padding:6px 12px ;
    transition: all .5s ;


} 
label #cancel
{
    z-index:1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding :4px 9px;
    transition: all .5s ease;
}
#check:checked ~.sidebar{
    left:0;

}
#check:checked ~label #btn{
    left:250px;
    opacity:0;
    pointer-events: none;

}
#check:checked ~label #cancel{
    left:195px;
}
section{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   width: 100%;
   height: 100%;
   scroll-snap-align: center;

    
}
section h1{
    font-size: 5rem;
    color:rgb(218, 188, 188);
    font-family: 'Abril Fatface', cursive;
    font-family: 'Grenze Gotisch', cursive;
}

section .logo
{
    
  margin-left: 60%;
  border-radius: 100%;
  

}
section#home p{
    align-items: center;
   justify-content: center;
   text-align: center;
   font-size: 16px;
 
}
section#home h6{
    
  
    
    font-size: 2rem;
    font-family: 'Ubuntu', cursive;


}
section#home h1{

    
    font-size: 8rem;
    font-family: 'Ubuntu', cursive;


}
section#home .homepage{
    justify-content: space-evenly;
    display: flex;
    
}
section#home
{
    background: url(i.png) no-repeat center left/cover;
    background-size: 100%;//rsponsive
 
}

section#events
{
    background: url() no-repeat center center/cover;
}

section#team
{
    background: url() no-repeat center center/cover;
}

section#gallery
{
    background: url() no-repeat center center/cover;
}

section#sponsors
{
    background: url() no-repeat center center/cover;
}

section#investor
{
    background: url() no-repeat center center/cover;
}
section#register
{
    background: url() no-repeat center center/cover;
}
section#blog{
    background: url() no-repeat center center/cover;
}
section#contact{
    background: url() no-repeat center center/cover;
}
section#achieve .achievement{
    
    
   
}



.social{
    
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: 50vh;
  
 
     
}
.social h1{
    align-items: center;
    font-size: 3rem;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

 .social a{
    width: 50px;
    height:50px;
    color:black;
    background-color: whitesmoke;
    border-radius: 25px;
    text-align: center;
    margin:10px;
  
  
    box-shadow: 1px 4px 2px 2px rgb(117, 113, 113);
}
.social a i{
    line-height: 50px;
    transition: all 0.3s linear;
    scroll-snap-align: center;

    

}
.social a:hover i{
    transform: scale(1.3);
}
[type=radio] {
    display: none;
  }
  
  #slider {
    height: 35vw;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
  }
  
  #slider label {
    margin: auto;
    width: 60%;
    height: 100%;
    border-radius: 4px;
    position: absolute;
    left: 0; right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
  }
  
  #s1:checked ~ #slide4, #s2:checked ~ #slide5,
  #s3:checked ~ #slide1, #s4:checked ~ #slide2,
  #s5:checked ~ #slide3 {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(-30%,0,-200px);
  }
  
  #s1:checked ~ #slide5, #s2:checked ~ #slide1,
  #s3:checked ~ #slide2, #s4:checked ~ #slide3,
  #s5:checked ~ #slide4 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(-15%,0,-100px);
  }
  
  #s1:checked ~ #slide1, #s2:checked ~ #slide2,
  #s3:checked ~ #slide3, #s4:checked ~ #slide4,
  #s5:checked ~ #slide5 {
    box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
    transform: translate3d(0,0,0);
  }
  
  #s1:checked ~ #slide2, #s2:checked ~ #slide3,
  #s3:checked ~ #slide4, #s4:checked ~ #slide5,
  #s5:checked ~ #slide1 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(15%,0,-100px);
  }
  
  #s1:checked ~ #slide3, #s2:checked ~ #slide4,
  #s3:checked ~ #slide5, #s4:checked ~ #slide1,
  #s5:checked ~ #slide2 {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(30%,0,-200px);
  }
  .swiper-pagination
  {
      padding: 0;
      margin-bottom:15%;
      background-color: rgb(153, 58, 58);
      
  }
  .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    
    width: 400px;
    height: 400px;
    background: rgb(17, 15, 15);

  }
  .swiper-slide .imgBx
  {
      width: 100%;
      height: 300px;
      overflow: hidden;
  }
  .swiper-slide .imgBx img{
      width: 100%;
      
  }
  .swiper-slide .details{
      box-sizing: border-box;
      font-size: 20px;
      padding: 20px;
      
  }
  .swiper-slide .details h3{
      margin: 0;
      padding: 0;
      font-size: 20px;
      text-align: center;
      line-height: 20px;

  }
  .swiper-slide .details spam
  {
      font-size: 16px;
      color:red;
  }
  .images{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 10px;
    

}
.images a{
    
    
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(128, 155, 206);
}
#slider .gallery-img{
 display:flex;
 align-items:center;
 justify-content: space-around;
 margin-bottom: 50%;
 margin-right: 35%;
}
#slider .gallery-img h1{
    padding: 0;
    margin: 0;
    font-family: 'Grenze Gotisch', cursive;
    font-size: 5rem;
    color: rgb(204, 162, 221);
    
}
#slider .gallery-img img{
    padding:0;
    margin:0;
    width: inherit;

}
.event-head{
    display: flex;
    align-items: center;
    justify-content: center;
}
.event-head h1{
    font-size: 5rem;
color:rgb(218, 188, 188);
font-family: 'Abril Fatface', cursive;
font-family: 'Grenze Gotisch', cursive;
}

.swiper-slide a
{
    
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 30%;
    color: blanchedalmond;
    font-size: 3rem;

}