/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --grey: #9b9b9b;
}

body {
  background: #424242;
  font-family: Arial, Helvetica, sans-serif;
}

.timeline {
  max-width: 90vw;
  margin: 0 auto;
  position: relative;
}

.timeline::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 6px;
  background: #888;
  left: 50%;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  width: 50%;
}

.container::after {
  content: '';
  position: absolute;
  top: 15px;
  right: -13px;
  width: 25px;
  height: 25px;
  background: #fff;
  box-shadow: 0 0 0 3px #3f3f3f7a;
  border-radius: 50%;
  z-index: 2;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.right::after {
  left: -13px;
}

.left::before {
  content: '';
  height: 0px;
  width: 0px;
  position: absolute;
  top: 22px;
  right: 30px;
  
}

.right::before {
  content: '';
  height: 0px;
  width: 0px;
  position: absolute;
  top: 22px;
  left: 30px;
  
}

.content {
  padding: 20px 30px;
  background: #424242 ;
  border-radius: 6px;
  color: #fff;
  text-align: center;
  width: fit-content;
  box-shadow: 8px 8px 16px 0 rgba(0,0,0,0.25), -8px -8px 12px 0 rgba(129, 129, 129, 0.3);
  }
.content:hover{
  
 
  box-shadow: 8px 8px 16px 0 rgba(129, 129, 129, 0.3), -8px -8px 12px 0 rgba(0,0,0,0.25) ;
}

.content h1{
  margin-bottom: 10px;
  
}
.content h1,h3{
  padding: 10px;
}
.content img{
  width: 100%;
  max-width: 300px;
  height: auto;
  filter: grayscale(1);
}
.content:hover img {
  filter: grayscale(0);
}
.content:hover .person-name{
  color: #00ffc8;
  }
.content:hover .name-body{
   
  color: #02eebd;
}


@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .container::before {
    left: 60px;
    
    border-color: transparent #fff transparent transparent;
  }

  .left::after, .right::after {
    left: 18px;
    z-index: 1;
  }

  .right {
    left: 0;
  }
} */
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --grey: #9b9b9b;
}

body {
  background: #424242;
  font-family: Arial, Helvetica, sans-serif;
}

.timeline {
  display: flex;
  max-width: 90vw;
  margin: 0 auto;
  position: relative;
  flex-wrap: wrap;
}

/* .timeline::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 6px;
  background: #888;
  left: 50%;
  margin-left: -3px;
} */

.container {
  padding: 10px 40px;
  position: relative;
  
}

/* .container::after {
  content: '';
  position: absolute;
  top: 15px;
  right: -13px;
  width: 25px;
  height: 25px;
  background: #fff;
  box-shadow: 0 0 0 3px #3f3f3f7a;
  border-radius: 50%;
  z-index: 2;
} */

.left {
  left: 0;
}

.right {
  left: 50%;
}

/* .right::after {
  left: -13px;
} */

/* .left::before {
  content: '';
  height: 0px;
  width: 0px;
  position: absolute;
  top: 22px;
  right: 30px;
  
}

.right::before {
  content: '';
  height: 0px;
  width: 0px;
  position: absolute;
  top: 22px;
  left: 30px;
  
} */

.content {
  border: 5px solid white;
  padding: 20px 30px;
  background: #424242 ;
  border-radius: 6px;
  color: #fff;
  text-align: center;
  width: auto;
  /* box-shadow: 8px 8px 16px 0 rgba(0,0,0,0.25), -8px -8px 12px 0 rgba(129, 129, 129, 0.3); */
  }
.content:hover{
  
 
  /* box-shadow: 8px 8px 16px 0 rgba(129, 129, 129, 0.3), -8px -8px 12px 0 rgba(0,0,0,0.25) ; */
}

.content h1{
  margin-bottom: 10px;
  
}
.content h1,h3{
  padding: 10px;
}
.content img{
  width: 100%;
  max-width: 300px;
  height: auto;
  filter: grayscale(1);
}
.content:hover img {
  filter: grayscale(0);
}
.content:hover .person-name{
  color: #00ffc8;
  }
.content:hover .name-body{
   
  color: #02eebd;
}


@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .container::before {
    left: 60px;
    
    border-color: transparent #fff transparent transparent;
  }

  .left::after, .right::after {
    left: 18px;
    z-index: 1;
  }

  .right {
    left: 0;
  }
}